html{
  text-align: center;
  font-family: "Abel";
  font-size: 0.9rem;
  background-color: black;
}
body{
  background-color: black;
}

nav{
  float: left;
  position: fixed;
  top: 10%;
}
nav ul{
  list-style-type: none;
}
ul{
  list-style-type: none;
}
.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6b6a69;
    overflow-x: hidden;
}


.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.sidenav a:hover {
    background-color: #ddd;
    color: black;
}
article{
  margin-right: 100px;
  margin-left: 100px;
  border-left: 1px;
  padding: 1em;
  overflow: hidden;
  background-color: black;
}
p{
  color: darkgrey;
}

h1{
  color: white;
}

h2{
  margin:0 0 8px 0;
  padding:0;
  font-size:1.6em;
  font-weight:normal;
  line-height:normal;
  color: grey;
  text-align: left;
}
h3{
  border: 2px solid black;
  background-color: grey;
}
h4{
  color: grey;
}
.top li{
  width:2.8em;
  padding: 0.4em 0.8em;
  margin: 0.8em;
  border-radius: 12px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
}
.top a{
  color: black;
  text-decoration: none;
}
footer li{
  display: inline-block;
  padding: 0.4em 0.8em;
  margin: 0.8em;
  border: 0.2em;
  border-radius: 12px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}
header{
  margin-left: 100px;
  margin-right: 100px;
}
img {
    width: 100%;
    height: auto;
}
video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: auto;
}
